html {
    box-sizing: border-box;
    /* Handwritten Font Stack from modernfontstacks.com */
    font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
    font-weight: normal;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #ddca7d;
    border-color: #242331;
    color: #242331;
}

.recipe-heading {
    margin: 0 auto;
    text-align: center;
    max-width: 500px;
    width: auto;
}

.page-title {
    text-align: center;
}

.centered-image {
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    /* This pair of attributes resizes the image to fit the container without exceeding the original image size. */
    max-width: 100%;
    height: auto;
}

.recipe-body,
.recipe-list {
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    margin: 40px auto;
    padding: 20px;
    text-wrap: wrap;
}

.recipe-list a {
    /* This attribute ensures that links don't get wrapped mid-text on smaller screens. */
    display: inline-block;
}

.recipe-body {
    max-width: 800px;
    width: auto;
}

.recipe-list {
    border-color: #242331;
    text-align: center;
    width: fit-content;
}

.recipe-body :first-child {
    margin-top: 0px;
}

.recipe-list li {
    display: inline;
    margin: 20px;
}

.recipe-footer {
    text-align: center;
}